.icon-hshc-chevron-right:before {
  content: "\e900";
}
.icon-hshc-arrow-back:before {
  content: "\e901";
}
.icon-hshc-error:before {
  content: "\e902";
}
.icon-hshc-facebook:before {
  content: "\e903";
}
.icon-hshc-instagram:before {
  content: "\e904";
}
.icon-hshc-pinterest:before {
  content: "\e905";
}
.icon-hshc-play:before {
  content: "\e906";
}
.icon-hshc-twitter:before {
  content: "\e907";
}
.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}
.nice-select:hover {
  border-color: #dbdbdb;
}
.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #999;
}
.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 5px;
}
.nice-select.open:after {
  transform: rotate(-135deg);
}
.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}
.nice-select.disabled:after {
  border-color: #cccccc;
}
.nice-select.wide {
  width: 100%;
}
.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right;
}
.nice-select.right .list {
  left: auto;
  right: 0;
}
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}
.nice-select.small:after {
  height: 4px;
  width: 4px;
}
.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}
.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #f6f6f6;
}
.nice-select .option.selected {
  font-weight: bold;
}
.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}
.no-csspointerevents .nice-select .list {
  display: none;
}
.no-csspointerevents .nice-select.open .list {
  display: block;
}

.nice-select ul.list {
  max-height: 220px;
  overflow-y: scroll;
}
#btn-to-top {
  position: fixed;
  right: 10px;
  bottom: 70px;
}
.selecter-options,
.selecter-selected {
  display: none;
}
.rangeslider {
  width: 100%;
  height: 100%;
  padding: 0;
}
.rangeslider,
.type-range > span {
  background-color: #004a4d87;
  border-radius: 5px;
  height: 18px !important;
  margin-top: 11px;
}
.rangeslider__fill,
.rangeslider__handle,
.type-range output {
  background-color: #004a4d;
}
.rangeslider__handle {
  width: 22px;
  height: 22px;
  border-radius: 22px;
  border: 3px solid #D1D7DB;
  margin-top: 16px;
  box-sizing: border-box;
}
.rangeslider,
.type-range > span {
  position: absolute;
  z-index: 1;
  display: block;
}
.rangeslider__fill,
.type-range output {
  position: absolute;
  display: block;
  width: 0;
  height: 20px;
  margin-top: 10px;
  border-radius:5px;
}
.rangeslider__fill,
.type-range output {
  z-index: 1;
}
.type-range {
  position: relative;
  border: 0 !important;
  height: 16px;
  clear: both;
  padding-top: 16px !important;
}
.type-range input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.type-range input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.type-range input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.type-range input[type=range]::-ms-fill-upper {
  background-color: #6B6C79;
}
.type-range input[type=range]::-ms-fill-lower {
  background-color: #a27b1d;
}
.type-range input[type=range]::-ms-thumb {
  background-color: #a27b1d;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  border: 3px solid #D1D7DB;
  margin-top: 16px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.type-range input[type=range]::-webkit-slider-thumb {
  background-color: #a27b1d;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  border: 3px solid #D1D7DB;
  margin-top: 16px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.type-range input[type=range]::-moz-range-thumb {
  background-color: #a27b1d;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  border: 3px solid #D1D7DB;
  margin-top: 16px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.type-range input[type=range]::-ms-fill-upper {
  width: 100%;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
}
.type-range input[type=range],
.type-range > span {
  width: 100%;
  height: 100%;
  padding: 0;
}
.type-range input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  position: relative;
  z-index: 2;
  top: 0;
  margin: 0;
  border: 0;
}
.type-range input[type=range]:focus {
  outline: 0;
  border: 0;
}
.type-range input[type=range]::-ms-fill-lower {
  z-index: 1;
  display: block;
}
.type-range input[type=range]::-ms-tooltip {
  display: none;
}
.type-range input[type=range]::-ms-fill-lower {
  position: static !important;
  width: auto !important;
  height: 100% !important;
}
.type-range input[type=range]::-ms-fill-upper {
  height: 100% !important;
}
.type-range input[type=range]::-ms-track,
.type-range input[type=range]::-moz-range-track,
.type-range input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}
.rangeslider__handle {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
html.ie10 .type-range output,
html.ie10 .type-range span {
  margin-top: 4px;
}
html.ie10 .type-range input[type=range] {
  height: 26px;
}
html.ie .type-range output,
html.ie .type-range > span {
  display: none;
}
.hshc-graft-calc-main h3 {
  padding-bottom: 18px;
  border-bottom: #242635 solid 1px;
}
/*gha*/
.hshc-graft-calc-main .page-section {
  padding: 5px 0;
}
.hshc-graft-calc-main .section-01 {
  background: #DDEFF5;
}
.hshc-graft-calc-main span.img {
  position: relative;
  height: 0;
  overflow: hidden;
  display: block;
}
.hshc-graft-calc-main span.img > *:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  max-width: 100%;
  height: 100%;
}
.hshc-graft-calc-main fieldset.type {
  margin-bottom: 5px;
}
.hshc-graft-calc-main fieldset.type label {
  cursor: pointer;
}
.hshc-graft-calc-main fieldset.type label i {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: #242635 solid 2px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}
.hshc-graft-calc-main fieldset.type label.checked i {
  border-color: #a27b1d;
  position: relative;
}
.hshc-graft-calc-main fieldset.type label.checked i:after {
  content: '';
  display: block;
  clear: both;
  width: 10px;
  height: 10px;
  background: #a27b1d;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hshc-graft-calc-main fieldset.type .menu {
  margin-left: 0px;
}
.hshc-graft-calc-main fieldset.demographic select {
  width: auto;
}
.hshc-graft-calc-main fieldset.demographic select[name=ethnicity] {
  background: #242635;
  color: #fff;
}
.hshc-graft-calc-main fieldset.demographic .form-group {
  float: left;
  margin-right: 30px;
}
.hshc-graft-calc-main fieldset.demographic .form-group:last-child {
  margin-right: 0;
}
.hshc-graft-calc-main fieldset.areas > div > div label input {
  position: absolute;
  visibility: hidden;
}
.hshc-graft-calc-main fieldset.areas svg g[id] {
  cursor: pointer;
  fill-opacity: 0;
}
.hshc-graft-calc-main fieldset.areas svg g[id].checked,
.hshc-graft-calc-main fieldset.areas svg g[id]:hover {
  fill-opacity: 0.1;
}
.hshc-graft-calc-main fieldset.areas > div > div > * {
  width: 23%;
}
.hshc-graft-calc-main fieldset.grafts .status dl {
  float: left;
  margin-right: 15px;
  margin-bottom: 0 !important;
}
.hshc-graft-calc-main fieldset.grafts .status dl:last-child {
  margin-right: 0;
}
.hshc-graft-calc-main fieldset.grafts .status dt {
  font-weight: normal;
}
.hshc-graft-calc-main fieldset.grafts .status dd {
  font-size: 20px;
  line-height: 20px;
}
.hshc-graft-calc-main fieldset.grafts .range span:first-of-type {
  float: left;
}
.hshc-graft-calc-main fieldset.grafts .range span:last-of-type {
  float: right;
}
/*.hshc-graft-calc-main label[for=results-toggle] {*/
  /*opacity: 1 !important;*/
  /*border-top: #242635 solid 1px;*/
  /*padding: 32px 0;*/
/*}*/
.hshc-graft-calc-main label[for=results-toggle] .btn {
  width: 182px;
  max-width: 100%;
}
.hshc-graft-calc-main div.results input[type=radio]:checked + *,
.hshc-graft-calc-main fieldset.areas input[type=radio]:checked + *,
.hshc-graft-calc-main form > input:checked + * {
  display: block;
}
.hshc-graft-calc-main div.results input[type=radio],
.hshc-graft-calc-main div.results input[type=radio] + *,
.hshc-graft-calc-main fieldset.areas input[type=radio],
.hshc-graft-calc-main fieldset.areas input[type=radio] + *,
.hshc-graft-calc-main form > input,
.hshc-graft-calc-main form > input + * {
  display: none;
}
.hshc-graft-calc-main form > input + * {
  transition-timing-function: linear;
  transition-property: opacity;
  transition-duration: 0.5s;
}
.hshc-graft-calc-main form > input + * {
  opacity: 0;
  position: absolute;
  display: none;
  clip: rect(0, 0, 0, 0);
  z-index: 1;
  visibility: hidden;
}
.hshc-graft-calc-main form > input:checked + * {
  opacity: 1;
  position: relative;
  clip: auto;
  z-index: 100;
  visibility: visible;
  display: block;
}
.hshc-graft-calc-main form:after {
  content: "";
  display: block;
  clear: both;
}
@media (min-width: 768px) {
  .hshc-graft-calc-main fieldset.areas > div > div {
    display: none;
  }
  .hshc-graft-calc-main fieldset.grafts .range {
    margin-top: 1px;
    margin-bottom: 15px;
  }
  .hshc-graft-calc-main div.results > label {
    float: right;
    margin-top: 30px;
    width: 40% !important;
  }
}
.hshc-graft-calc-main form div.results input[type="radio"]:checked + *,
.hshc-graft-calc-main fieldset.areas input[type="radio"]:checked + *,
.hshc-graft-calc-main form > input:checked + * {
  display: block;
}
@media (max-width: 480px) {
  .hshc-graft-calc-main .svg-sibling-input-container {
    overflow: hidden;
    margin-top: 20px;
  }
  .hshc-graft-calc-main .svg-sibling-input-container label {
    width: 23%;
    margin: 1%;
    background: #242635;
    color: #fff;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 1em;
    padding: 10px;
    cursor: pointer;
  }
  .hshc-graft-calc-main .svg-sibling-input-container label.checked {
    background: #a27b1d;
  }
}
.content-container ul > li:before, ul.square > li:before{
  display:none;
}
.main_wrapper fieldset{
  border:0;
}
